<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>ToDo List 2</title>
</head>
<body>
    <h1><%= kindOfDay %></h1>

    <ul>
        <% for (var i=0; i<newListItems.length; i++) { %>
            <li><%= newListItems[i] %></li> 
      <% } %>

    </ul>

    <form action="/" class method="POST">
        <input name="newItem" type="text" />

        <button name="button" type="submit">Add</button>
    </form>
</body>
</html>
  